<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% if data_source %}
       Data | {{ data_source }}
        {% else %}
        Collection
        {% endif %}

    </title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='data.css') }}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/png" href="http://cdn.onlinewebfonts.com/svg/img_521102.png"/>
</head>
<body>
<br/>
<div class="container">
{% if data_source=="Twitter" or data_source=="twitter" %}
    {% extends "calls/twitter_call.html" %}

{% elif data_source=="Facebook" or data_source=="facebook" %}
	{% extends "calls/facebook_call.html" %}

{% elif data_source=="Instagram" or data_source=="instagram" %}
	{% extends "calls/instagram_call.html" %}

{% elif data_source=="Google" or data_source=="google" %}
	{% extends "calls/google_call.html" %}

{% else %}
    <h1> Collection </h1>

{% endif %}




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>