<!doctype>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='data.css') }}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/png" href="http://cdn.onlinewebfonts.com/svg/img_521102.png"/>





<div class="container">
	<br/><br/><hr/><br/><br/>

	<h1> Google Trends for ILI selected terms</h1>
	<h2>Time range: 10-Apr-2018 - 18-Apr-2018 </h2>
	<p>
		Numbers represent search interest relative to the highest point on the chart for the given region and time. A value of 100 is the peak popularity for the term. A value of 50 means that the term is half as popular. A score of 0 means there was not enough data for this term.
	</p>

	<br/><br/><hr/><br/><br/>

	<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1386_RC02/embed_loader.js"></script>
 <script type="text/javascript">
   trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"illness","geo":"","time":"2018-04-10 2018-04-18"},{"keyword":"influenza","geo":"","time":"2018-04-10 2018-04-18"},{"keyword":"sick","geo":"","time":"2018-04-10 2018-04-18"},{"keyword":"virus","geo":"","time":"2018-04-10 2018-04-18"},{"keyword":"flu","geo":"","time":"2018-04-10 2018-04-18"}],"category":0,"property":""}, {"exploreQuery":"date=2018-04-10%202018-04-18&q=illness,influenza,sick,virus,flu","guestPath":"https://trends.google.com:443/trends/embed/"});
 </script>


	<br/><br/><hr/><br/><br/>


	<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1386_RC02/embed_loader.js"></script>
 <script type="text/javascript">
   trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"condition","geo":"","time":"2018-04-10 2018-04-18"},{"keyword":"contagious","geo":"","time":"2018-04-10 2018-04-18"},{"keyword":"disease","geo":"","time":"2018-04-10 2018-04-18"}],"category":0,"property":""}, {"exploreQuery":"date=2018-04-10%202018-04-18&q=condition,contagious,disease","guestPath":"https://trends.google.com:443/trends/embed/"});
 </script>


	<br/><br/><hr/><br/><br/>


	<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1386_RC02/embed_loader.js"></script>
 <script type="text/javascript">
   trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"runny nose","geo":"","time":"2018-04-10 2018-04-18"},{"keyword":"sneezing","geo":"","time":"2018-04-10 2018-04-18"},{"keyword":"coughing","geo":"","time":"2018-04-10 2018-04-18"},{"keyword":"sore throat","geo":"","time":"2018-04-10 2018-04-18"},{"keyword":"headache","geo":"","time":"2018-04-10 2018-04-18"}],"category":0,"property":""}, {"exploreQuery":"date=2018-04-10%202018-04-18&q=runny%20nose,sneezing,coughing,sore%20throat,headache","guestPath":"https://trends.google.com:443/trends/embed/"});
 </script>


</div>